<div class="container align-items-center">
<h1 class="text-center mt-2">Login</h1>
<form fromControll="" (onclick)="login" class="align-items-center">
    <div class="form-group ">
      <label for="exampleInputEmail1">User Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter userName" required>
    </div>
    <div class="form-group ">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>