<nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="isShowMainHead">
  <h1 class="text-sucess bg-white p-2">E-Sales Portal</h1>
  <ul class="navbar-nav m-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register</a>
    </li>
   
  </ul>
</nav>
<router-outlet></router-outlet>
<div class="container">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark mt-2">
  <h1 class="text-sucess bg-white p-2">Footer</h1>
  <ul class="navbar-nav m-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/adminlogin/']" routerLinkActive="active">Admin Login</a>
    </li>
  </ul>
</nav>
</div>
<!-- Footer -->
